In [1]:
import pandas as pd
transit = pd.read_csv("./data/transit-segments.csv")
transit.head(10)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35
5,1,Bil Holman Dredge,1,1,17.4,34.3,33.9,35.0,100.0,3/20/10 16:06,3/20/10 16:36
6,1,Bil Holman Dredge,1,2,76.0,34.4,33.8,34.9,100.0,3/20/10 18:05,3/20/10 18:48
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,5/4/11 11:28,5/4/11 13:30
8,9,Shearwater,4,1,11.6,8.8,7.9,10.3,0.0,6/5/10 11:23,6/5/10 12:44
9,9,Shearwater,8,1,11.6,8.3,7.4,9.2,0.0,6/8/10 11:03,6/8/10 12:29

In [2]:
transit.dtypes

mmsi            int64
name           object
transit         int64
segment         int64
seg_length    float64
avg_sog       float64
min_sog       float64
max_sog       float64
pdgt10        float64
st_time        object
end_time       object
dtype: object

In [3]:
transit1 = pd.read_csv("./data/transit-segments.csv", parse_dates=['st_time'])
transit1.head(10)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,4/10/09 18:35
5,1,Bil Holman Dredge,1,1,17.4,34.3,33.9,35.0,100.0,2010-03-20 16:06:00,3/20/10 16:36
6,1,Bil Holman Dredge,1,2,76.0,34.4,33.8,34.9,100.0,2010-03-20 18:05:00,3/20/10 18:48
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,2011-05-04 11:28:00,5/4/11 13:30
8,9,Shearwater,4,1,11.6,8.8,7.9,10.3,0.0,2010-06-05 11:23:00,6/5/10 12:44
9,9,Shearwater,8,1,11.6,8.3,7.4,9.2,0.0,2010-06-08 11:03:00,6/8/10 12:29

In [4]:
transit1.dtypes

mmsi                   int64
name                  object
transit                int64
segment                int64
seg_length           float64
avg_sog              float64
min_sog              float64
max_sog              float64
pdgt10               float64
st_time       datetime64[ns]
end_time              object
dtype: object

In [6]:
transit1.end_time = pd.to_datetime(transit1.end_time)

In [7]:
transit1.head()

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,2009-04-06 15:20:00
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,2009-04-06 14:55:00
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,2009-04-10 18:34:00
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,2009-04-10 18:35:00

In [10]:
transit1.dtypes

mmsi                   int64
name                  object
transit                int64
segment                int64
seg_length           float64
avg_sog              float64
min_sog              float64
max_sog              float64
pdgt10               float64
st_time       datetime64[ns]
end_time      datetime64[ns]
dtype: object

In [12]:
transit1[transit1['min_sog'].between(10.0,20.0)]
transit1.head()

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,2009-04-06 15:20:00
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,2009-04-06 14:55:00
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,2009-04-10 18:34:00
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,2009-04-10 18:35:00

In [13]:
transit1[transit1['st_time'].between("2011-01-01","2011-12-31")]

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,2011-05-04 11:28:00,2011-05-04 13:30:00
16,21,Us Gov Vessel,2,1,48.7,6.6,3.4,16.3,38.4,2011-03-14 16:13:00,2011-03-15 00:02:00
17,21,Us Gov Vessel,3,1,15.1,13.7,10.0,15.1,91.8,2011-03-18 11:18:00,2011-03-18 12:26:00
18,21,Us Gov Vessel,4,1,18.0,9.7,4.6,15.2,76.3,2011-04-25 16:37:00,2011-04-25 18:25:00
19,21,Us Gov Vessel,5,1,11.2,12.9,6.1,15.6,80.7,2011-05-14 15:51:00,2011-05-14 16:50:00
20,21,Us Gov Vessel,6,1,5.8,16.5,15.1,17.4,100.0,2011-05-19 12:34:00,2011-05-19 12:56:00
21,21,Us Gov Vessel,7,1,7.6,10.0,8.8,13.2,11.0,2011-05-23 21:29:00,2011-05-23 22:18:00
22,21,Us Gov Vessel,8,1,11.1,10.4,8.8,11.3,56.6,2011-05-25 11:46:00,2011-05-25 12:52:00
23,21,Us Gov Vessel,9,1,9.8,13.4,5.8,20.8,83.0,2011-06-01 14:32:00,2011-06-01 15:19:00
24,21,Us Gov Vessel,10,1,15.9,15.8,15.4,16.7,100.0,2011-06-07 14:43:00,2011-06-07 15:47:00
25,21,Us Gov Vessel,12,1,25.3,8.3,3.2,20.2,48.7,2011-08-08 15:42:00,2011-08-08 18:37:00
26,21,Us Gov Vessel,17,1,14.3,10.2,2.7,13.2,83.6,2011-09-06 20:59:00,2011-09-06 22:53:00
27,21,Us Gov Vessel,18,1,20.7,9.2,2.2,17.3,61.6,2011-09-08 08:22:00,2011-09-08 10:41:00
28,21,Us Gov Vessel,19,1,19.9,12.7,4.8,17.8,85.8,2011-09-12 14:56:00,2011-09-12 16:31:00
29,21,Us Gov Vessel,20,1,8.6,10.3,3.9,13.9,82.7,2011-10-25 12:52:00,2011-10-25 13:39:00
30,21,Us Gov Vessel,21,1,21.7,11.8,4.0,16.4,83.1,2011-10-26 12:37:00,2011-10-26 14:27:00
31,21,Us Gov Vessel,22,1,10.0,17.4,13.7,19.2,100.0,2011-11-29 17:54:00,2011-11-29 18:28:00
32,21,Us Gov Vessel,23,1,7.0,10.7,5.8,14.7,56.1,2011-11-30 14:16:00,2011-11-30 14:57:00
33,21,Us Gov Vessel,24,1,7.9,12.6,7.4,17.6,83.9,2011-12-01 14:03:00,2011-12-01 14:40:00
156,82003,Alexis,99,1,70.0,12.0,6.8,18.4,98.9,2011-07-22 14:57:00,2011-07-22 20:48:00
157,82003,Alexis,100,1,10.5,12.6,10.1,15.3,100.0,2011-07-23 08:23:00,2011-07-23 09:15:00
158,82003,Alexis,101,1,7.5,2.5,0.0,24.3,82.5,2011-07-23 18:51:00,2011-07-24 15:37:00
159,82003,Alexis,106,1,17.6,19.1,0.0,26.6,98.4,2011-07-29 07:49:00,2011-07-29 09:52:00
160,82003,Alexis,107,1,10.7,19.4,2.4,26.6,86.9,2011-07-29 21:16:00,2011-07-29 21:44:00
161,82003,Alexis,113,1,16.6,9.7,0.0,26.0,96.7,2011-07-31 05:06:00,2011-07-31 09:54:00
162,82003,Alexis,114,1,8.5,21.8,0.2,27.8,94.8,2011-07-31 21:05:00,2011-07-31 21:29:00
163,82003,Alexis,125,1,17.5,22.3,3.8,25.2,98.1,2011-08-06 15:11:00,2011-08-06 15:58:00
164,82003,Alexis,126,1,10.8,21.5,0.1,27.2,94.0,2011-08-12 22:30:00,2011-08-12 22:58:00
165,82003,Alexis,127,1,6.6,19.7,6.9,24.1,97.3,2011-08-13 20:20:00,2011-08-13 20:39:00
166,82003,Alexis,128,1,6.7,18.4,0.0,27.2,92.3,2011-08-20 16:44:00,2011-08-20 17:09:00
...,...,...,...,...,...,...,...,...,...,...,...
262437,967191190,Pathfinder,38,1,26.2,7.4,6.8,8.2,0.0,2011-09-20 08:38:00,2011-09-20 12:09:00
262438,967191190,Pathfinder,39,1,19.1,7.6,7.0,8.2,0.0,2011-09-21 13:32:00,2011-09-21 16:02:00
262439,967191190,Pathfinder,40,1,19.5,9.2,8.8,9.6,0.0,2011-09-22 15:04:00,2011-09-22 17:12:00
262440,967191190,Pathfinder,41,1,26.3,8.8,8.3,9.3,0.0,2011-09-23 13:20:00,2011-09-23 16:19:00
262441,967191190,Pathfinder,42,1,27.1,6.6,5.0,7.5,0.0,2011-10-03 02:17:00,2011-10-03 06:21:00
262442,967191190,Pathfinder,43,1,20.9,6.8,3.3,8.0,0.0,2011-10-03 17:08:00,2011-10-03 20:07:00
262443,967191190,Pathfinder,44,1,20.5,8.9,5.9,9.5,0.0,2011-10-05 07:04:00,2011-10-05 09:20:00
262444,967191190,Pathfinder,45,1,27.1,9.6,9.0,10.4,11.6,2011-10-05 17:21:00,2011-10-05 20:09:00
262445,967191190,Pathfinder,46,1,26.8,7.4,4.5,9.2,0.0,2011-10-07 12:09:00,2011-10-07 15:43:00
262446,967191190,Pathfinder,47,1,18.9,7.3,7.1,7.8,0.0,2011-10-08 16:39:00,2011-10-08 19:12:00
262447,967191190,Pathfinder,48,1,23.2,8.7,8.3,9.9,0.0,2011-10-09 18:14:00,2011-10-09 20:54:00
262448,967191190,Pathfinder,49,1,27.5,8.5,1.7,9.2,0.0,2011-10-10 15:45:00,2011-10-10 18:58:00
262449,967191190,Pathfinder,50,1,26.5,7.6,6.7,8.3,0.0,2011-10-21 21:13:00,2011-10-22 00:42:00
262450,967191190,Pathfinder,51,1,20.9,6.9,2.6,7.9,0.0,2011-10-22 11:17:00,2011-10-22 14:18:00
262451,967191190,Pathfinder,52,1,20.3,9.0,8.4,11.2,8.8,2011-10-23 13:43:00,2011-10-23 15:57:00
262452,967191190,Pathfinder,53,1,26.4,8.2,6.1,8.8,0.0,2011-10-24 00:42:00,2011-10-24 03:55:00
262453,967191190,Pathfinder,54,1,26.3,7.9,6.9,10.5,9.6,2011-10-25 14:54:00,2011-10-25 18:13:00
262454,967191190,Pathfinder,55,1,17.8,6.7,5.9,7.3,0.0,2011-10-26 18:35:00,2011-10-26 21:15:00
262455,967191190,Pathfinder,56,1,20.1,9.5,6.6,10.0,0.0,2011-10-31 05:06:00,2011-10-31 07:12:00
262456,967191190,Pathfinder,57,1,26.3,9.6,9.0,10.2,2.9,2011-10-31 15:19:00,2011-10-31 18:04:00
262457,967191190,Pathfinder,58,1,26.8,7.7,7.0,9.4,0.0,2011-11-08 15:20:00,2011-11-08 18:48:00
262458,967191190,Pathfinder,59,1,20.8,7.0,4.8,7.6,0.0,2011-11-09 05:52:00,2011-11-09 08:49:00
262459,967191190,Pathfinder,60,1,20.5,8.6,6.8,10.7,1.0,2011-11-12 02:58:00,2011-11-12 05:20:00
262460,967191190,Pathfinder,61,1,26.1,7.0,6.2,7.5,0.0,2011-11-12 14:57:00,2011-11-12 18:41:00
262461,967191190,Pathfinder,62,1,26.4,7.3,6.4,9.7,0.0,2011-12-13 06:56:00,2011-12-13 10:33:00
262462,967191190,Pathfinder,63,1,21.0,6.6,3.2,7.3,0.0,2011-12-13 21:47:00,2011-12-14 00:54:00
262463,967191190,Pathfinder,64,1,20.3,9.5,9.2,10.9,8.3,2011-12-14 19:07:00,2011-12-14 21:14:00
262464,967191190,Pathfinder,65,1,25.7,8.2,6.8,8.8,0.0,2011-12-15 06:03:00,2011-12-15 09:15:00
262465,967191190,Pathfinder,66,1,26.9,7.1,5.0,8.3,0.0,2011-12-30 03:43:00,2011-12-30 07:26:00
262466,967191190,Pathfinder,67,1,20.7,7.0,4.6,7.7,0.0,2011-12-30 17:51:00,2011-12-30 20:45:00