In [1]:
import pandas as pd
import datetime as dt


mday = dt.date(2017,9,2)

In [2]:
mday

datetime.date(2017, 9, 2)

In [3]:
mday.year

2017

In [4]:
mday.day

2

In [5]:
mday.month

9

In [6]:
mydayandtime = dt.datetime(2017,9,2, 15,24,30)

In [7]:
mydayandtime.hour

15

In [8]:
mydayandtime.minute

24

In [9]:
mydayandtime.second

30

In [10]:
pd.Timestamp('2017-09-02')

Timestamp('2017-09-02 00:00:00')

In [11]:
pd.Timestamp('2017/09/02')

Timestamp('2017-09-02 00:00:00')

In [12]:
pd.Timestamp('2017,09,02')

Timestamp('2017-02-01 00:00:00')

In [13]:
pd.Timestamp('2017,09,02 15:29:10')

Timestamp('2017-02-01 15:29:10')

In [14]:
date = ['2017/08/31', '2017/09/01', '2017/09/02']
pd.DatetimeIndex(date)

DatetimeIndex(['2017-08-31', '2017-09-01', '2017-09-02'], dtype='datetime64[ns]', freq=None)

In [15]:
date2 = [dt.date(2017,8,31), dt.date(2017,8,30),dt.date(2017,8,29)]
pd.DatetimeIndex(date2)

DatetimeIndex(['2017-08-31', '2017-08-30', '2017-08-29'], dtype='datetime64[ns]', freq=None)

In [16]:
food = ['Pizza', 'Burgger', 'Salad']
pd.Series  (data = food, index=date)

2017/08/31      Pizza
2017/09/01    Burgger
2017/09/02      Salad
dtype: object

In [17]:
dirtyyimes = pd.Series(['2017-09-02', '2017/09/01', '2017', 'July  4 ,2017','Avinash'])
dirtyyimes

0       2017-09-02
1       2017/09/01
2             2017
3    July  4 ,2017
4          Avinash
dtype: object

In [18]:
pd.to_datetime(dirtyyimes, errors='coerce')

0   2017-09-02
1   2017-09-01
2   2017-01-01
3   2017-07-04
4          NaT
dtype: datetime64[ns]

In [19]:
pd.Period('2017-09-02', freq='21D')

Period('2017-09-02', '21D')

In [20]:
pd.Period('2017-09-02', 'W-SUN')

Period('2017-08-28/2017-09-03', 'W-SUN')

In [21]:
pd.Period('2017-09-02', freq='W-TUE')

Period('2017-08-30/2017-09-05', 'W-TUE')

In [22]:
myrange = pd.date_range(start='2017-09-02', end='2017-12-25', freq='D')

In [23]:
myrange

DatetimeIndex(['2017-09-02', '2017-09-03', '2017-09-04', '2017-09-05',
               '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-09',
               '2017-09-10', '2017-09-11',
               ...
               '2017-12-16', '2017-12-17', '2017-12-18', '2017-12-19',
               '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23',
               '2017-12-24', '2017-12-25'],
              dtype='datetime64[ns]', length=115, freq='D')

In [24]:
myrange2 = pd.date_range(start='2017-09-02', end='2037-12-25', freq='A')
myrange2

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [25]:
myrange3 = pd.date_range(start='2017-09-02', periods = 140, freq='D')
myrange3

DatetimeIndex(['2017-09-02', '2017-09-03', '2017-09-04', '2017-09-05',
               '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-09',
               '2017-09-10', '2017-09-11',
               ...
               '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13',
               '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17',
               '2018-01-18', '2018-01-19'],
              dtype='datetime64[ns]', length=140, freq='D')

In [26]:
myrange4 = pd.date_range(start='2017-12-24', periods = 140, freq='12h')
myrange4

DatetimeIndex(['2017-12-24 00:00:00', '2017-12-24 12:00:00',
               '2017-12-25 00:00:00', '2017-12-25 12:00:00',
               '2017-12-26 00:00:00', '2017-12-26 12:00:00',
               '2017-12-27 00:00:00', '2017-12-27 12:00:00',
               '2017-12-28 00:00:00', '2017-12-28 12:00:00',
               ...
               '2018-02-27 00:00:00', '2018-02-27 12:00:00',
               '2018-02-28 00:00:00', '2018-02-28 12:00:00',
               '2018-03-01 00:00:00', '2018-03-01 12:00:00',
               '2018-03-02 00:00:00', '2018-03-02 12:00:00',
               '2018-03-03 00:00:00', '2018-03-03 12:00:00'],
              dtype='datetime64[ns]', length=140, freq='12H')

In [27]:
myseries= pd.Series(myrange4)
myseries

0     2017-12-24 00:00:00
1     2017-12-24 12:00:00
2     2017-12-25 00:00:00
3     2017-12-25 12:00:00
4     2017-12-26 00:00:00
5     2017-12-26 12:00:00
6     2017-12-27 00:00:00
7     2017-12-27 12:00:00
8     2017-12-28 00:00:00
9     2017-12-28 12:00:00
10    2017-12-29 00:00:00
11    2017-12-29 12:00:00
12    2017-12-30 00:00:00
13    2017-12-30 12:00:00
14    2017-12-31 00:00:00
15    2017-12-31 12:00:00
16    2018-01-01 00:00:00
17    2018-01-01 12:00:00
18    2018-01-02 00:00:00
19    2018-01-02 12:00:00
20    2018-01-03 00:00:00
21    2018-01-03 12:00:00
22    2018-01-04 00:00:00
23    2018-01-04 12:00:00
24    2018-01-05 00:00:00
25    2018-01-05 12:00:00
26    2018-01-06 00:00:00
27    2018-01-06 12:00:00
28    2018-01-07 00:00:00
29    2018-01-07 12:00:00
              ...
110   2018-02-17 00:00:00
111   2018-02-17 12:00:00
112   2018-02-18 00:00:00
113   2018-02-18 12:00:00
114   2018-02-19 00:00:00
115   2018-02-19 12:00:00
116   2018-02-20 00:00:00
117   2018-02-20 12:00:00
118   2018-02-21 00:00:00
119   2018-02-21 12:00:00
120   2018-02-22 00:00:00
121   2018-02-22 12:00:00
122   2018-02-23 00:00:00
123   2018-02-23 12:00:00
124   2018-02-24 00:00:00
125   2018-02-24 12:00:00
126   2018-02-25 00:00:00
127   2018-02-25 12:00:00
128   2018-02-26 00:00:00
129   2018-02-26 12:00:00
130   2018-02-27 00:00:00
131   2018-02-27 12:00:00
132   2018-02-28 00:00:00
133   2018-02-28 12:00:00
134   2018-03-01 00:00:00
135   2018-03-01 12:00:00
136   2018-03-02 00:00:00
137   2018-03-02 12:00:00
138   2018-03-03 00:00:00
139   2018-03-03 12:00:00
Length: 140, dtype: datetime64[ns]

In [28]:
myseries.dt.is_month_end

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14      True
15      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132     True
133     True
134    False
135    False
136    False
137    False
138    False
139    False
Length: 140, dtype: bool

In [29]:
myseries[myseries.dt.is_month_end]

14    2017-12-31 00:00:00
15    2017-12-31 12:00:00
76    2018-01-31 00:00:00
77    2018-01-31 12:00:00
132   2018-02-28 00:00:00
133   2018-02-28 12:00:00
dtype: datetime64[ns]

In [31]:
myseries[myseries.dt.is_quarter_end]

14   2017-12-31 00:00:00
15   2017-12-31 12:00:00
dtype: datetime64[ns]

In [33]:
ts = pd.Timestamp('2017-09-03 10:27:30')
ts

Timestamp('2017-09-03 10:27:30')

In [34]:
ts.weekday_name

'Sunday'

In [36]:
ts.is_month_end

False

In [37]:
ts.is_month_start

False

In [38]:
myrange5 = pd.date_range(start='2017-12-24', periods = 140, freq='12h')
myrange5

DatetimeIndex(['2017-12-24 00:00:00', '2017-12-24 12:00:00',
               '2017-12-25 00:00:00', '2017-12-25 12:00:00',
               '2017-12-26 00:00:00', '2017-12-26 12:00:00',
               '2017-12-27 00:00:00', '2017-12-27 12:00:00',
               '2017-12-28 00:00:00', '2017-12-28 12:00:00',
               ...
               '2018-02-27 00:00:00', '2018-02-27 12:00:00',
               '2018-02-28 00:00:00', '2018-02-28 12:00:00',
               '2018-03-01 00:00:00', '2018-03-01 12:00:00',
               '2018-03-02 00:00:00', '2018-03-02 12:00:00',
               '2018-03-03 00:00:00', '2018-03-03 12:00:00'],
              dtype='datetime64[ns]', length=140, freq='12H')