In [3]:
import pandas as pd
transit = pd.read_csv("./data/transit-segments.csv")
transit.head(10)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35
5,1,Bil Holman Dredge,1,1,17.4,34.3,33.9,35.0,100.0,3/20/10 16:06,3/20/10 16:36
6,1,Bil Holman Dredge,1,2,76.0,34.4,33.8,34.9,100.0,3/20/10 18:05,3/20/10 18:48
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,5/4/11 11:28,5/4/11 13:30
8,9,Shearwater,4,1,11.6,8.8,7.9,10.3,0.0,6/5/10 11:23,6/5/10 12:44
9,9,Shearwater,8,1,11.6,8.3,7.4,9.2,0.0,6/8/10 11:03,6/8/10 12:29

In [4]:
transit.dtypes

mmsi            int64
name           object
transit         int64
segment         int64
seg_length    float64
avg_sog       float64
min_sog       float64
max_sog       float64
pdgt10        float64
st_time        object
end_time       object
dtype: object

In [6]:
transit1 = transit
transit1.drop_duplicates(subset=['name'], keep=False)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,5/4/11 11:28,5/4/11 13:30
34,74,Mcfaul,1,2,1.4,12.8,12.8,12.9,100.0,6/16/09 2:19,6/16/09 2:25
35,74,Sarah Bell,1,1,7.4,12.1,10.1,13.0,100.0,6/16/09 2:26,6/16/09 3:02
84,4731,4731,1,1,2.1,17.7,17.5,17.7,100.0,3/31/09 13:07,3/31/09 13:14
91,15151,Us Vessel,1,1,19.7,17.4,10.4,18.3,100.0,7/23/09 13:41,7/23/09 14:52
209,439541,L3,4,1,52.2,13.7,12.7,14.5,100.0,6/16/12 15:27,6/16/12 19:14
438,642262,Nuevo Leon,1,1,2.2,9.8,9.7,10.0,0.0,1/8/09 20:52,1/8/09 21:05
456,642262,Aman,1,1,5.7,6.9,5.5,10.5,33.6,2/8/09 13:19,2/8/09 14:08
507,1193046,Ms Angela,1,1,11.1,4.7,4.6,4.9,0.0,11/4/08 1:07,11/4/08 3:23
531,1193046,Panda,1,1,25.4,12.4,6.7,14.8,95.1,11/12/08 13:55,11/12/08 15:58
577,1193046,Mr Devin,1,1,25.4,4.8,2.7,6.6,0.0,12/15/08 11:40,12/15/08 16:43
601,1193046,Trent Joseph,2,1,20.7,9.7,9.4,10.2,3.9,1/7/09 8:20,1/7/09 10:33
628,1193046,Annita,1,1,4.6,8.0,7.1,9.1,0.0,2/22/09 16:13,2/22/09 16:48
647,1193046,Amy Chouest,2,1,22.2,7.2,6.8,7.7,0.0,2/27/09 13:45,2/27/09 16:41
660,1193046,Ocean Project,5,1,17.4,6.2,5.2,6.9,0.0,2/28/09 8:04,2/28/09 10:46
674,1193046,Tug David Brusco,2,1,64.0,5.2,3.0,7.0,0.0,3/3/09 11:52,3/4/09 0:04
678,1193046,Amy Chuest,1,1,6.8,4.2,2.8,5.7,0.0,3/3/09 18:09,3/3/09 19:45
788,1193046,Intl Patriot,2,13,455.7,0.0,0.0,0.0,0.0,4/17/09 6:31,4/17/09 9:01
803,1193046,Sonny Cook,1,1,2.9,1.0,0.0,3.8,0.0,4/18/09 3:34,4/18/09 6:35
862,1193046,Therese,2,1,13.2,11.8,4.0,15.4,67.6,6/5/09 15:46,6/5/09 16:48
869,1193046,Meg L Skansi,8,2,19.7,7.8,6.9,8.4,0.0,6/24/09 0:24,6/24/09 3:04
874,1193046,Ocean Inspector,1,2,6.6,7.5,7.0,7.7,0.0,6/24/09 2:01,6/24/09 2:56
879,1193046,Joyce B Gardiner,3,1,6.4,4.6,3.5,6.7,0.0,7/7/09 16:17,7/7/09 17:52
945,1193046,Marrybennett,1,1,33.5,3.6,1.7,5.1,0.0,9/4/09 4:57,9/4/09 15:34
965,1193046,Aphalt Seminole,1,1,12.5,5.3,0.3,11.0,64.7,9/10/09 6:20,9/10/09 8:10
1113,1193046,Nick Skani,7,1,1.2,0.0,0.0,0.0,0.0,11/7/09 14:06,11/7/09 15:25
1147,1193046,Carolyn Ane,3,1,2.9,2.0,0.0,4.1,0.0,11/19/09 19:12,11/19/09 20:06
1155,1193046,Joshua Chouest,33,1,3.1,2.2,0.0,6.7,0.0,11/25/09 12:43,11/25/09 16:46
1186,1193046,Fast Temptress,2,1,1.5,0.0,0.0,0.0,0.0,12/8/09 13:22,12/8/09 13:53
...,...,...,...,...,...,...,...,...,...,...,...
246913,636090340,General Piar,1,2,5.2,10.1,9.8,10.7,35.3,12/8/09 1:32,12/8/09 2:03
247161,636090460,Bbc Leer,1,1,24.6,4.7,0.1,16.8,86.6,4/8/12 2:50,4/8/12 11:43
247789,636090606,Cap Ortegal,1,1,4.9,15.1,15.0,15.3,100.0,3/28/10 21:18,3/28/10 21:38
250704,636090951,K Wind,1,2,25.8,12.9,9.2,14.1,96.9,6/12/09 19:02,6/12/09 21:02
250870,636090975,Cma Cgm Melbourne,1,1,12.5,10.1,9.1,11.3,85.0,11/27/09 4:31,11/27/09 5:45
251907,636091044,636091044,2,1,3.1,12.2,12.0,12.5,100.0,10/28/12 18:41,10/28/12 18:56
252711,636091101,Mxican Bay,1,1,19.0,17.0,11.8,19.9,100.0,3/6/09 8:15,3/6/09 9:22
252718,636091101,Mexicn Bay,2,1,5.2,16.3,15.2,17.2,100.0,1/2/10 18:55,1/2/10 19:14
253230,636091157,Apl Denmark,1,1,9.1,20.5,20.1,21.0,100.0,9/24/12 15:11,9/24/12 15:37
253283,636091173,As Catalania,1,1,41.4,10.1,0.0,19.1,84.8,10/31/12 10:00,10/31/12 19:48
253627,636091206,636091206,1,1,7.6,16.5,16.3,16.7,100.0,10/2/12 17:01,10/2/12 17:30
254561,636091334,636091334,1,1,6.2,20.1,19.7,20.5,100.0,9/27/10 18:51,9/27/10 19:09
256845,636091530,Devon Strait,1,2,30.1,16.1,7.2,18.3,96.2,9/18/09 3:11,9/18/09 4:59
257375,636091585,636091585,1,1,7.3,16.1,15.9,16.2,100.0,10/30/12 16:25,10/30/12 16:53
257602,636091606,636091606,1,1,3.3,16.4,16.3,16.9,100.0,8/20/10 4:56,8/20/10 5:08
258712,636091704,Hs Smetana,1,1,18.5,16.7,7.3,19.3,98.2,7/9/09 6:35,7/9/09 7:41
258920,636091756,636091756,1,1,14.8,16.5,11.2,18.1,100.0,6/4/10 23:46,6/5/10 0:42
259907,636091869,Tosa Sea,1,1,20.2,11.4,10.6,12.0,100.0,7/4/11 5:34,7/4/11 7:22
260237,636091943,E.r. Bayonne,1,1,26.1,9.5,7.8,10.4,7.5,1/5/12 21:55,1/6/12 0:40
260746,636092052,Yves Jacob,1,1,19.8,8.2,4.3,11.1,41.7,5/10/12 22:16,5/11/12 0:43
261134,636092260,Nina Marie,1,1,22.5,7.4,0.5,12.0,55.9,10/29/12 15:13,10/29/12 18:32
261842,657411000,Ugonwaafor1,1,1,22.1,6.0,4.6,8.1,0.0,12/22/10 16:46,12/22/10 20:24
261843,657412000,Ugonwaafor,1,1,23.0,6.5,3.8,9.0,0.0,12/22/10 16:24,12/22/10 19:58
261935,666909000,Cg213,1,1,69.7,8.9,0.1,16.9,76.4,11/3/08 12:28,11/3/08 22:02
261943,667588000,Opus Casino,1,1,21.8,10.3,9.6,10.9,72.5,3/29/10 21:42,3/29/10 23:50
261975,710482000,Almirante Saboia,1,1,2.0,8.8,8.5,9.0,0.0,6/21/12 9:00,6/21/12 9:14
261980,720768000,Rusty Pelican,1,1,25.2,5.7,4.1,7.0,0.0,4/1/11 0:58,4/1/11 5:21
262051,730000161,Arc. Cartagena,1,1,19.6,3.6,0.0,14.9,36.7,4/23/09 13:42,4/23/09 19:26
262151,857632392,Ct Pilot,1,1,4.6,14.0,7.7,17.2,87.8,9/24/10 18:09,9/24/10 18:29
262396,888888888,Earl Jones,1,1,9.0,5.1,0.5,15.8,10.1,6/7/10 14:04,6/7/10 15:24

In [7]:
transit1.head()

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35

In [8]:
transit1['name'].unique()

array(['Us Govt Ves', 'Dredge Capt Frank', 'Us Gov Vessel', ...,
       'Ct Pilot', 'Earl Jones', 'Oi'], dtype=object)

In [9]:
transit1['segment'].nunique()

88

In [10]:
transit1['segment'].max()

245