In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("./data/transit-segments.csv")
dataset.head(5)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35

In [3]:
dataset.index

RangeIndex(start=0, stop=262526, step=1)

In [4]:
dataset.values

array([[1, 'Us Govt Ves', 1, ..., 96.5, '2/10/09 16:03', '2/10/09 16:27'],
       [1, 'Dredge Capt Frank', 1, ..., 100.0, '4/6/09 14:31',
        '4/6/09 15:20'],
       [1, 'Us Gov Vessel', 1, ..., 100.0, '4/6/09 14:36',
        '4/6/09 14:55'],
       ...,
       [999999999, 'Triple Attraction', 6, ..., 100.0, '6/17/10 19:16',
        '6/17/10 20:17'],
       [999999999, 'Triple Attraction', 7, ..., 100.0, '6/18/10 2:52',
        '6/18/10 5:03'],
       [999999999, 'Triple Attraction', 8, ..., 100.0, '6/18/10 10:19',
        '6/18/10 11:22']], dtype=object)

In [5]:
dataset.columns

Index(['mmsi', 'name', 'transit', 'segment', 'seg_length', 'avg_sog',
       'min_sog', 'max_sog', 'pdgt10', 'st_time', 'end_time'],
      dtype='object')

In [6]:
dataset.axes

[RangeIndex(start=0, stop=262526, step=1),
 Index(['mmsi', 'name', 'transit', 'segment', 'seg_length', 'avg_sog',
        'min_sog', 'max_sog', 'pdgt10', 'st_time', 'end_time'],
       dtype='object')]

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262526 entries, 0 to 262525
Data columns (total 11 columns):
mmsi          262526 non-null int64
name          262526 non-null object
transit       262526 non-null int64
segment       262526 non-null int64
seg_length    262526 non-null float64
avg_sog       262526 non-null float64
min_sog       262526 non-null float64
max_sog       262526 non-null float64
pdgt10        262526 non-null float64
st_time       262526 non-null object
end_time      262526 non-null object
dtypes: float64(5), int64(3), object(3)
memory usage: 22.0+ MB

In [9]:
dataset.get_dtype_counts()

float64    5
int64      3
object     3
dtype: int64