In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data as web

In [4]:
pokemon = pd.read_csv('./data/Pokemon.csv',encoding='iso-8859-1')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [5]:
pokemon.memory_usage(deep=True)

Index          80
#            1208
Name         9762
Type 1       9424
Type 2       6893
Total        1208
HP           1208
Attack       1208
Defense      1208
Sp. Atk      1208
Sp. Def      1208
Speed        1208
Stage        1208
Legendary     151
dtype: int64

In [6]:
pokemon.dtypes

#             int64
Name         object
Type 1       object
Type 2       object
Total         int64
HP            int64
Attack        int64
Defense       int64
Sp. Atk       int64
Sp. Def       int64
Speed         int64
Stage         int64
Legendary      bool
dtype: object

In [7]:
pokemon['Type 1'] = pokemon['Type 1'].astype('category')

In [8]:
pokemon.memory_usage(deep=True)

Index          80
#            1208
Name         9762
Type 1       1727
Type 2       6893
Total        1208
HP           1208
Attack       1208
Defense      1208
Sp. Atk      1208
Sp. Def      1208
Speed        1208
Stage        1208
Legendary     151
dtype: int64

In [9]:
pokemon['Name'] = pokemon['Name'].astype('category')

In [10]:
pokemon.memory_usage(deep=True)

Index           80
#             1208
Name         15212
Type 1        1727
Type 2        6893
Total         1208
HP            1208
Attack        1208
Defense       1208
Sp. Atk       1208
Sp. Def       1208
Speed         1208
Stage         1208
Legendary      151
dtype: int64

In [13]:
pokemon[pokemon['Type 2'].isnull()]['Type 2'] = "Flying"

C:\Users\avinash.t\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
pokemon.isnull().sum()

#             0
Name          0
Type 1        0
Type 2       84
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Stage         0
Legendary     0
dtype: int64

In [18]:
pokemon.loc[pokemon['Type 2'].isnull(), 'Type 2'] = "Flying"

In [19]:
pokemon.isnull().sum()

#            0
Name         0
Type 1       0
Type 2       0
Total        0
HP           0
Attack       0
Defense      0
Sp. Atk      0
Sp. Def      0
Speed        0
Stage        0
Legendary    0
dtype: int64