In [1]:
import pandas as pd

In [2]:
baseball = pd.read_csv("./data/baseball.csv")
baseball.head(10)

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks
5,6,6,2011,Arizona Diamondbacks,NL West,162,94,68,0,0.580,...,731,662,"2,105,432",28.2,27.4,51,25,J.Upton (6.1),K.Gibson (94-68),Arizona Diamondbacks
6,7,7,2010,Arizona Diamondbacks,NL West,162,65,97,0,0.401,...,713,836,"2,056,697",26.8,27.9,48,28,C.Young (5.4),A.Hinch (31-48) and K.Gibson (34-49),Arizona Diamondbacks
7,8,8,2009,Arizona Diamondbacks,NL West,162,70,92,0,0.432,...,720,782,"2,128,765",26.5,27.7,45,24,D.Haren (7.1),B.Melvin (12-17) and A.Hinch (58-75),Arizona Diamondbacks
8,9,9,2008,Arizona Diamondbacks,NL West,162,82,80,0,0.506,...,720,706,"2,509,924",26.7,29.4,41,20,D.Haren (6.6),B.Melvin (82-80),Arizona Diamondbacks
9,10,10,2007,Arizona Diamondbacks,NL West,162,90,72,0,0.556,...,712,732,"2,325,249",26.6,28.2,47,26,B.Webb (5.9),B.Melvin (90-72),Arizona Diamondbacks

In [3]:
baseball.shape

(2594, 24)

In [4]:
baseball.dropna(inplace=True)

In [5]:
baseball.shape

(422, 24)

In [6]:
baseball = pd.read_csv("./data/baseball.csv")
baseball.dropna(how='all', inplace=True)
baseball.shape

(2594, 24)

In [7]:
baseball.dropna(how='any', inplace=True)
baseball.shape

(422, 24)

In [8]:
baseball = pd.read_csv("./data/baseball.csv")
baseball.dropna(subset=['W','L'], inplace=True)
baseball.shape

(2594, 24)

In [9]:
baseball.dropna(subset=['W','Attendance'], inplace=True)
baseball.shape

(2520, 24)

In [10]:
baseball.dropna(subset=['W','Attendance'], how ='all' ,inplace=True)
baseball.shape

(2520, 24)

In [11]:
baseball = pd.read_csv("./data/baseball.csv", usecols=['Tm', 'Playoffs','Attendance'])
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks              NaN  2,036,216
1  Arizona Diamondbacks              NaN  2,080,145
2  Arizona Diamondbacks              NaN  2,073,730
3  Arizona Diamondbacks              NaN  2,134,895
4  Arizona Diamondbacks              NaN  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks              NaN  2,056,697
7  Arizona Diamondbacks              NaN  2,128,765
8  Arizona Diamondbacks              NaN  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [12]:
baseball.shape

(2594, 3)

In [13]:
baseball.fillna(0, inplace=True)
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks                0  2,036,216
1  Arizona Diamondbacks                0  2,080,145
2  Arizona Diamondbacks                0  2,073,730
3  Arizona Diamondbacks                0  2,134,895
4  Arizona Diamondbacks                0  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks                0  2,056,697
7  Arizona Diamondbacks                0  2,128,765
8  Arizona Diamondbacks                0  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [14]:
baseball.isnull().sum()

Tm            0
Playoffs      0
Attendance    0
dtype: int64

In [15]:
baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2594 entries, 0 to 2593
Data columns (total 3 columns):
Tm            2594 non-null object
Playoffs      2594 non-null object
Attendance    2594 non-null object
dtypes: object(3)
memory usage: 60.9+ KB

In [16]:
baseball = pd.read_csv("./data/baseball.csv", usecols=['Tm', 'Playoffs','Attendance'])
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks              NaN  2,036,216
1  Arizona Diamondbacks              NaN  2,080,145
2  Arizona Diamondbacks              NaN  2,073,730
3  Arizona Diamondbacks              NaN  2,134,895
4  Arizona Diamondbacks              NaN  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks              NaN  2,056,697
7  Arizona Diamondbacks              NaN  2,128,765
8  Arizona Diamondbacks              NaN  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [17]:
baseball.fillna(method='bfill', inplace=True)
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks   Lost LDS (3-2)  2,036,216
1  Arizona Diamondbacks   Lost LDS (3-2)  2,080,145
2  Arizona Diamondbacks   Lost LDS (3-2)  2,073,730
3  Arizona Diamondbacks   Lost LDS (3-2)  2,134,895
4  Arizona Diamondbacks   Lost LDS (3-2)  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks  Lost NLCS (4-0)  2,056,697
7  Arizona Diamondbacks  Lost NLCS (4-0)  2,128,765
8  Arizona Diamondbacks  Lost NLCS (4-0)  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [18]:
baseball = pd.read_csv("./data/baseball.csv", usecols=['Tm', 'Playoffs','Attendance'])
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks              NaN  2,036,216
1  Arizona Diamondbacks              NaN  2,080,145
2  Arizona Diamondbacks              NaN  2,073,730
3  Arizona Diamondbacks              NaN  2,134,895
4  Arizona Diamondbacks              NaN  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks              NaN  2,056,697
7  Arizona Diamondbacks              NaN  2,128,765
8  Arizona Diamondbacks              NaN  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [19]:
baseball.fillna(method='ffill', inplace=True)
baseball.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks              NaN  2,036,216
1  Arizona Diamondbacks              NaN  2,080,145
2  Arizona Diamondbacks              NaN  2,073,730
3  Arizona Diamondbacks              NaN  2,134,895
4  Arizona Diamondbacks              NaN  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks   Lost LDS (3-2)  2,056,697
7  Arizona Diamondbacks   Lost LDS (3-2)  2,128,765
8  Arizona Diamondbacks   Lost LDS (3-2)  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [21]:
baseball = pd.read_csv("./data/baseball.csv")
baseball.head(10)

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks
5,6,6,2011,Arizona Diamondbacks,NL West,162,94,68,0,0.580,...,731,662,"2,105,432",28.2,27.4,51,25,J.Upton (6.1),K.Gibson (94-68),Arizona Diamondbacks
6,7,7,2010,Arizona Diamondbacks,NL West,162,65,97,0,0.401,...,713,836,"2,056,697",26.8,27.9,48,28,C.Young (5.4),A.Hinch (31-48) and K.Gibson (34-49),Arizona Diamondbacks
7,8,8,2009,Arizona Diamondbacks,NL West,162,70,92,0,0.432,...,720,782,"2,128,765",26.5,27.7,45,24,D.Haren (7.1),B.Melvin (12-17) and A.Hinch (58-75),Arizona Diamondbacks
8,9,9,2008,Arizona Diamondbacks,NL West,162,82,80,0,0.506,...,720,706,"2,509,924",26.7,29.4,41,20,D.Haren (6.6),B.Melvin (82-80),Arizona Diamondbacks
9,10,10,2007,Arizona Diamondbacks,NL West,162,90,72,0,0.556,...,712,732,"2,325,249",26.6,28.2,47,26,B.Webb (5.9),B.Melvin (90-72),Arizona Diamondbacks

In [23]:
baseball.dtypes

Unnamed: 0      int64
Rk              int64
Year            int64
Tm             object
Lg             object
G               int64
W               int64
L               int64
Ties            int64
W.L.          float64
pythW.L.      float64
Finish         object
GB             object
Playoffs       object
R               int64
RA              int64
Attendance     object
BatAge        float64
PAge          float64
X.Bat           int64
X.P             int64
Top.Player     object
Managers       object
current        object
dtype: object

In [24]:
baseball['Year'].astype(float)

0       2016.0
1       2015.0
2       2014.0
3       2013.0
4       2012.0
5       2011.0
6       2010.0
7       2009.0
8       2008.0
9       2007.0
10      2006.0
11      2005.0
12      2004.0
13      2003.0
14      2002.0
15      2001.0
16      2000.0
17      1999.0
18      1998.0
19      2016.0
20      2015.0
21      2014.0
22      2013.0
23      2012.0
24      2011.0
25      2010.0
26      2009.0
27      2008.0
28      2007.0
29      2006.0
         ...
2564    1998.0
2565    1997.0
2566    1996.0
2567    1995.0
2568    1994.0
2569    1993.0
2570    1992.0
2571    1991.0
2572    1990.0
2573    1989.0
2574    1988.0
2575    1987.0
2576    1986.0
2577    1985.0
2578    1984.0
2579    1983.0
2580    1982.0
2581    1981.0
2582    1980.0
2583    1979.0
2584    1978.0
2585    1977.0
2586    1976.0
2587    1975.0
2588    1974.0
2589    1973.0
2590    1972.0
2591    1971.0
2592    1970.0
2593    1969.0
Name: Year, Length: 2594, dtype: float64

In [25]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [26]:
baseball['Year'] = baseball['Year'].astype(float)

In [27]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016.0,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015.0,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014.0,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [28]:
baseball.dtypes

Unnamed: 0      int64
Rk              int64
Year          float64
Tm             object
Lg             object
G               int64
W               int64
L               int64
Ties            int64
W.L.          float64
pythW.L.      float64
Finish         object
GB             object
Playoffs       object
R               int64
RA              int64
Attendance     object
BatAge        float64
PAge          float64
X.Bat           int64
X.P             int64
Top.Player     object
Managers       object
current        object
dtype: object

In [29]:
baseball['W'] = baseball['W'].astype(str)
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016.0,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015.0,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014.0,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [30]:
baseball.dtypes

Unnamed: 0      int64
Rk              int64
Year          float64
Tm             object
Lg             object
G               int64
W              object
L               int64
Ties            int64
W.L.          float64
pythW.L.      float64
Finish         object
GB             object
Playoffs       object
R               int64
RA              int64
Attendance     object
BatAge        float64
PAge          float64
X.Bat           int64
X.P             int64
Top.Player     object
Managers       object
current        object
dtype: object