In [2]:
import pandas as pd

food = ['burger', 'pizza','salad']
pd.Series(food)

0    burger
1     pizza
2     salad
dtype: object

In [3]:
type(pd.Series(food))

pandas.core.series.Series

In [4]:
lottery = [1,2,3,4,5,6]
lotterySeries = pd.Series(lottery)
lotterySeries

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
dictinoary = {'fruit'  : 'Banana', 'fasrFood' : 'burgter', 'vegetable': 'tomato'}
newseries = pd.Series(dictinoary)
newseries

fasrFood     burgter
fruit         Banana
vegetable     tomato
dtype: object

In [8]:
myIndex = ['yes', 'I', 'Own', 'The', 'Lottery', 'Today']
newLotteryaseries = pd.Series(lottery, index=myIndex)
newLotteryaseries

yes        1
I          2
Own        3
The        4
Lottery    5
Today      6
dtype: int64

In [10]:
newLotteryaseries.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [11]:
newLotteryaseries.index

Index(['yes', 'I', 'Own', 'The', 'Lottery', 'Today'], dtype='object')

In [12]:
newLotteryaseries.dtype

dtype('int64')

In [13]:
newLotteryaseries.sum()

21

In [14]:
newLotteryaseries.product()

720

In [15]:
newLotteryaseries.mean()

3.5

In [16]:
test = pd.Series(lottery,myIndex)
test

yes        1
I          2
Own        3
The        4
Lottery    5
Today      6
dtype: int64

In [17]:
test2 = pd.Series(index = lottery, data = myIndex)
test2

1        yes
2          I
3        Own
4        The
5    Lottery
6      Today
dtype: object

In [18]:
len(test2)

6

In [19]:
sorted(test2)

['I', 'Lottery', 'Own', 'The', 'Today', 'yes']

In [20]:
sorted(test)

[1, 2, 3, 4, 5, 6]

In [21]:
test2.sort_values()

2          I
5    Lottery
3        Own
4        The
6      Today
1        yes
dtype: object

In [22]:
test2.sort_values(ascending=False)

1        yes
6      Today
4        The
3        Own
5    Lottery
2          I
dtype: object

In [26]:
test2.sort_index()

1        yes
2          I
3        Own
4        The
5    Lottery
6      Today
dtype: object

In [27]:
test2.sort_index(ascending=False)

6      Today
5    Lottery
4        The
3        Own
2          I
1        yes
dtype: object

In [28]:
'I' in test2.values

True

In [29]:
'apple' in test2.values

False

In [30]:
test

yes        1
I          2
Own        3
The        4
Lottery    5
Today      6
dtype: int64

In [31]:
test.std()

1.8708286933869707

In [32]:
test.mean()

3.5

In [33]:
test.max()

6

In [34]:
test.min()

1

In [35]:
test.count()

6

In [36]:
test.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [37]:
test.idxmin()

'yes'

In [38]:
test.idxmax()

'Today'

In [39]:
test

yes        1
I          2
Own        3
The        4
Lottery    5
Today      6
dtype: int64

In [40]:
test + 5

yes         6
I           7
Own         8
The         9
Lottery    10
Today      11
dtype: int64