In [1]:
import tempfile
import pandas as pd
import tensorflow as tf
import tensorflow_transform as tft
import tensorflow_transform.beam.impl as tft_beam

from __future__ import print_function
from tensorflow_transform.tf_metadata import dataset_metadata, dataset_schema

In [2]:
dataset =  pd.read_csv("pollution-small.csv")

In [5]:
dataset.head()

       Date   pm10    no2    so2   soot
0  1/1/2009  98.67  14.10  44.38  34.81
1  1/2/2009  52.33  14.10  29.75  33.06
2  1/3/2009  74.67  20.50  36.25  39.25
3  1/4/2009  72.00  17.30  46.44  34.38
4  1/5/2009  81.00  25.64  56.56  45.59

In [7]:
fratures = dataset.drop("Date",axis=1)

In [8]:
fratures.head()

    pm10    no2    so2   soot
0  98.67  14.10  44.38  34.81
1  52.33  14.10  29.75  33.06
2  74.67  20.50  36.25  39.25
3  72.00  17.30  46.44  34.38
4  81.00  25.64  56.56  45.59

In [9]:
dict_features = list(fratures.to_dict("index").values())

In [10]:
dict_features[:2]

[{'no2': 14.1, 'pm10': 98.67, 'so2': 44.38, 'soot': 34.81},
 {'no2': 14.1, 'pm10': 52.33, 'so2': 29.75, 'soot': 33.06}]

In [12]:
data_model = dataset_metadata.DatasetMetadata(
    dataset_schema.from_feature_spec({
        'no2':  tf.compat.v1.FixedLenFeature([],tf.float32),
        'so2':  tf.compat.v1.FixedLenFeature([],tf.float32),
        'pm10': tf.compat.v1.FixedLenFeature([],tf.float32),
        'soot': tf.compat.v1.FixedLenFeature([],tf.float32),
    }
    )
)

WARNING:tensorflow:From <ipython-input-12-e1853cb3b0c1>:6: from_feature_spec (from tensorflow_transform.tf_metadata.dataset_schema) is deprecated and will be removed in a future version.
Instructions for updating:
from_feature_spec is a deprecated, use schema_utils.schema_from_feature_spec

In [13]:
data_model

{'_schema': feature {
  name: "no2"
  type: FLOAT
  presence {
    min_fraction: 1.0
  }
  shape {
  }
}
feature {
  name: "pm10"
  type: FLOAT
  presence {
    min_fraction: 1.0
  }
  shape {
  }
}
feature {
  name: "so2"
  type: FLOAT
  presence {
    min_fraction: 1.0
  }
  shape {
  }
}
feature {
  name: "soot"
  type: FLOAT
  presence {
    min_fraction: 1.0
  }
  shape {
  }
}
}